<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home Page</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</head>

<body>
	<div th:insert="fragments/header :: header"></div>
	<section class="view">

		<div class="row">

			<div class="col-md-6">

				<div class="d-flex flex-column justify-content-center align-items-center h-100">
					<h1 class="heading display-3">Book Store</h1>
					<h4 class="subheading font-weight-bold">  Welcome to Zhetysu! It owes its name, meaning "seven rivers" in Kazakh and Persian</h4>
					<div class="mr-auto">
						<button type="button" class="btn btn-lily btn-margin btn-rounded">Get started <i class="fas fa-caret-right ml-3"></i></button>
					</div>
				</div>

			</div>

			<div class="col-md-6">

				<div class="view">
					<img src="https://images.pexels.com/photos/4440123/pexels-photo-4440123.jpeg?cs=srgb&dl=pexels-taryn-elliott-4440123.jpg&fm=jpg" class="img-fluid" alt="smaple image">
					<div class="mask flex-center hm-gradient">
					</div>
				</div>

			</div>

		</div>

	</section>
	<!-- Intro -->
	<!--First container-->
	<div class="container">

		<!--Section: About-->
		<section id="about" class="mt-5">

			<!--Secion heading-->
			<h5 class="text-center dark-grey-text text-uppercase font-weight-bold spacing my-5 py-4 wow fadeIn"
				data-wow-delay="0.2s">
				<strong>Facts about us</strong>
			</h5>

			<!--Grid row-->
			<div class="row">

				<!--Grid column-->
				<div class="col-md-5">

					<img src="https://images.pexels.com/photos/3952076/pexels-photo-3952076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid z-depth-1 rounded"
						 alt="sample image">

				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="col-md-6 ml-lg-5 justify-content-left">
					<hr class="line">

					<h3 class="text-left dark-grey-text text-center font-weight-bold pb-4 wow fadeIn" data-wow-delay="0.2s">
						<em>
							<strong>All the best to our clients!</strong>
						</em>
					</h3>

					<p class="grey-text">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
						ad squid. 3
						wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
						eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
						assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
						sapiente ea proident.
					</p>
					<p class="grey-text">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
						proident.
						Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
						synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</p>
					<h5 class="text-right dark-grey-text font-weight-bold mt-5 wow fadeIn" data-wow-delay="0.2s">
						<em>
							<strong>Aitmoldanov Abzal</strong>
						</em>
					</h5>
					<p class="text-right grey-text wow fadeIn" data-wow-delay="0.2s">
						<em>Founder of the project</em>
					</p>

				</div>
				<!--Grid column-->

			</div>
			<!--Grid row-->

		</section>
		<!--/Section: About-->
	</div>
	<!--/First container-->
	<!--Projects section v.4-->
	<section>

		<!--Section heading-->
		<h2 class="h1-responsive font-weight-bold text-center my-5">Our best projects</h2>
		<!-- Section description -->
		<p class="grey-text text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit est laborum.</p>

		<!--Grid row-->
		<div class="row mx-1">

			<!--Grid column-->
			<div class="col-md-12 mb-4">
				<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
					<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
						<div>
							<h6 class="purple-text"><i class="fas fa-plane"></i><strong> Travel</strong></h6>
							<h3 class="card-title py-3 font-weight-bold"><strong>Fiction</strong></h3>
							<p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
								optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
								Odit sed qui, dolorum!</p>
							<a class="btn btn-secondary btn-rounded"><i class="far fa-clone left"></i> View project</a>
						</div>
					</div>
				</div>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-md-6 mb-4">
				<div class="card card-image" style="background-image: url(https://images.pexels.com/photos/2607687/pexels-photo-2607687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
					<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
						<div>
							<h6 class="pink-text"><i class="fas fa-chart-pie"></i><strong> Marketing</strong></h6>
							<h3 class="card-title py-3 font-weight-bold"><strong>Non-Fiction</strong></h3>
							<p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
								optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
								Odit sed qui, dolorum!</p>
							<a class="btn btn-pink btn-rounded"><i class="far fa-clone left"></i> View project</a>
						</div>
					</div>
				</div>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-md-6 mb-4">
				<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
					<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
						<div>
							<h6 class="green-text"><i class="far fa-eye"></i><strong> Entertainment</strong></h6>
							<h3 class="card-title py-3 font-weight-bold"><strong>History</strong></h3>
							<p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
								optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
								Odit sed qui, dolorum!</p>
							<a class="btn btn-success btn-rounded"><i class="far fa-clone left"></i> View project</a>
						</div>
					</div>
				</div>
			</div>
			<!--Grid column-->

		</div>
		<!--Grid row-->

	</section>
	<!--Projects section v.4-->

	<!--Carousel Wrapper-->
	<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
		<!--Indicators-->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-2" data-slide-to="1"></li>
			<li data-target="#carousel-example-2" data-slide-to="2"></li>
		</ol>
		<!--/.Indicators-->
		<!--Slides-->
		<div class="carousel-inner" role="listbox">https://images.pexels.com/photos/4608979/pexels-photo-4608979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
			<div class="carousel-item active">
				<div class="view">
					<img class="d-block w-100" src="https://images.pexels.com/photos/1106468/pexels-photo-1106468.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						 alt="First slide">
					<div class="mask rgba-black-slight"></div>
				</div>
				<div class="carousel-caption">
					<h3 class="h3-responsive">Aigai Kum</h3>
					<p>Kerbulak district</p>
				</div>
			</div>
			<div class="carousel-item">
				<!--Mask color-->
				<div class="view">
					<img class="d-block w-100" src="https://images.pexels.com/photos/4321303/pexels-photo-4321303.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						 alt="Second slide">
					<div class="mask rgba-black-slight"></div>
				</div>
				<div class="carousel-caption">
					<h3 class="h3-responsive">Altyn-Emel National Park</h3>
					<p>Kerbulak district</p>
				</div>
			</div>
			<div class="carousel-item">
				<!--Mask color-->
				<div class="view">
					<img class="d-block w-100" src="https://images.pexels.com/photos/4555454/pexels-photo-4555454.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						 alt="Third slide">
					<div class="mask rgba-black-slight"></div>
				</div>
				<div class="carousel-caption">
					<h3 class="h3-responsive">Alatau</h3>
					<p>Almaty</p>
				</div>
			</div>
		</div>
		<!--/.Slides-->
		<!--Controls-->
		<a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!--/.Controls-->
	</div>
	<!--/.Carousel Wrapper-->
	<br>
	<div class="card-columns">
		<div class="card">
			<img class="card-img-top" src="https://images.pexels.com/photos/2898170/pexels-photo-2898170.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Altyn_Emel</h5>
				<p class="card-text">The Big Bang Theory had been a hit since it first came onto the airwaves in 2007, earning blockbuster ratings, seven Emmy awards, and its own spin-off, Young Sheldon.</p>
			</div>
		</div>
		<div class="card p-3">
			<blockquote class="blockquote mb-0 card-body">
				<p>The Big Bang Theory promises exciting ends and new beginnings in hour-long two-part series finale</p>
				<footer class="blockquote-footer">
					<small class="text-muted">
						<cite title="Source Title">Daily Mail</cite>
					</small>
				</footer>
			</blockquote>
		</div>
		<div class="card">
			<img class="card-img-top" src="https://images.pexels.com/photos/2915997/pexels-photo-2915997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">

			<div class="card-body">
				<h5 class="card-title">Ile Alatau</h5>
				<p class="card-text">The Good Doctor is an American medical drama television series based on the 2013 award-winning South Korean series of the same name.</p>
				<p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
			</div>
		</div>
		<div class="card bg-primary text-white text-center p-3" style="background-color: #424242 !important;">
			<blockquote class="blockquote mb-0">
				<p>The new drama, which stars Freddie Highmore as a surgeon with autism and savant syndrome, has engaged millions of viewers but critics remain skeptical.</p>
				<footer class="blockquote-footer text-white">
					<small>
						<cite title="Source Title">The Guardian</cite>
					</small>
				</footer>
			</blockquote>
		</div>
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">Saryozek</h5>
				<p class="card-text">Ahead of the series finale, a science writer who has toured the site of the 1986 nuclear disaster weighs in.</p>
				<p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="https://images.pexels.com/photos/1888403/pexels-photo-1888403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">

		</div>
		<div class="card p-3 text-right">
			<blockquote class="blockquote mb-0">
				<p>Plenty of Fantasy in HBO’s ‘Chernobyl,’ but the Truth Is Real</p>
				<footer class="blockquote-footer">
					<small class="text-muted">
						<cite title="Source Title">The New York Times</cite>
					</small>
				</footer>
			</blockquote>
		</div>
	</div>

	<br>
</body>
<style>
	.intro-2{
		background: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg")no-repeat center center;
		background-size: cover;
	}
	.regis{
		padding: 30px !important;
		width: 460px !important;
		background:rgba(13,13,13,0.65);
		height: 550px;
		color: white !important;
		border-radius: 8px;
		margin-left: 340px;
	}

	html, body, header,
	.view {
		height: 100%;
	}
	.card-columns{
		margin-left: 40px;
		margin-right: 40px;
		margin-top: 20px;
	}
	.card{
		border-radius: 5px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.card:hover {
		box-shadow: 0 0 11px rgba(33,33,33,.2);
	}
	@import "http://nyplintranet-training.appspot.com/css/themes/nypl/main.css";
	/* equal card height */
	.row-equal > div[class*='col-'] {
		display: flex;
		flex: 1 0 auto;
	}

	.row-equal .card {
		width: 100%;
	}

	/* ensure equal card height inside carousel */
	.carousel-inner>.row-equal.active,
	.carousel-inner>.row-equal.next,
	.carousel-inner>.row-equal.prev {
		display: flex;
	}

	/* prevent flicker during transition */
	.carousel-inner>.row-equal.active.left,
	.carousel-inner>.row-equal.active.right {
		opacity: 0.5;
		display: flex;
	}

	/* control image height */
	.card-img-top-250 {
		max-height: 250px;
		overflow:hidden;
	}
	.hm-gradient {
		background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
	}
	.subheading {
		margin: 2.5rem 6rem;
		color: #bcb2c0;
	}
	.btn.btn-margin {
		margin-left: 6rem;
		margin-top: 3rem;
	}
	.btn.btn-lily {
		background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
	}
	.title {
		margin-top: 6rem;
		margin-bottom: 2rem;
		color: #5d4267;
	}
	.subtitle {
		color: #bcb2c0;
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 6rem;
	}
	.btn{
		background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
	}
</style>
</html>
